<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jackie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>174F66CA1E8FEEAE009A87C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174F66DE1E8FEEAF009A87C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174F66E91E8FEEAF009A87C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
